.input-container {
    margin-bottom: 15px;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s, box-shadow 0.3s;

    }


}

.genderSelectInput {


    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
            border-color: #5c72d3;
            box-shadow: 0 0 5px rgba(92, 114, 211, 0.5);
        }
    }

    .select {
        display: flex;
        margin-top: 20px;
        gap: 10px;
    }
}

.verifyToken {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s, box-shadow 0.3s;
        height: 40px;
        margin-right: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}